h1{
	color:orange;
	font-size:60px;
}

h2{
	color:black;
	font-size:40px;

}
.parrafoImportante {
	color:green;
}

ul > li {
	font-size: 40px;
}

p:hover {
	color:black;
}

.bold {
	font-weight: bold;
}
 
form {
width: 600px;
height: 500px;
float: center;
text-align: center;
}

label {
color:black;
	font-size:30px;
	align:"center";  
}

.formatoForm{
	opacity: 0.5;
}

.contenedor {
text-decoration: none;
opacity: 0.8;
background-color:#58FAF4;
background-image: url('pastas.jpg');
background-origin: padding-box;
margin: 0 auto;
width: 922px;

}
 